<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ToDo-App</title>
</head>
<body>
    <h1>Welcome, to the ToDO-App</h1>
    <button onclick=redirectToRegister()>Register Now</button>
    <button onclick=redirectToLogin()>login</button>

    <script>
        function redirectToRegister(){
            window.location.href="/home/register"
        }
        function redirectToLogin(){
            window.location.href="/home/login"
        }
    </script>
</body>
</html>