<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ProfilePage</title>
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <nav>
    <div class="left">
      <div class="logo">To<span>Do</span></div>
    </div>
    <div class="right">
      <a href="/profile">Profile</a>
      <button id="logout-btn">Logout</button>
    </div>
  </nav>

  <main>
    <h1>
      <%=username%>
    </h1>
    <h3>
      <%=email%>
    </h3>
  </main>


  <div class="displayAndCreateTask">
    <section class="displayTask">
      <h1>Tasks</h1>
      <div class="container">
       
      </div>
    </section>
    <section class="createTask">
      <h1>Create Tasks</h1>
      <form id="createTask-form" action="/tasks" method="post">
        <input type="text" name="task" id="task" placeholder="Enter new task">
        <input type="submit" value="Create" id="create-btn">
      </form>
    </section>
  </div>

  <script type="module" src="/javascripts/profile.js"></script>
</body>

</html>